---
layout: ""
page_title: "Agent"
description: |-
---

Syntropy Agent is an easy-to-use dependency to automatically encrypt and connect endpoints within a network. Syntropy's user interface allows heightened visibility into network health and connectivity.

## Example Usage
 {{tffile .ExampleFile}}

 {{ .SchemaMarkdown }}