---
layout: ""
page_title: "Network Connection"
description: |-
---

# {{ .Name }} ( {{ .Type }} )

Creates connection between two Syntropy Platform agents.
Creates point to point Connections.To establish a [P2P connection](https://docs.syntropystack.com/docs/network-as-code-topologies#creating-complex-topologies) between 2 agents, you need to provide the following:

- agent 1 ID
- agent 2 ID

## Example Usage
 {{tffile .ExampleFile}}

 {{ .SchemaMarkdown }}