---
layout: ""
page_title: "Network Connection Mesh"
description: |-
---

# {{ .Name }} ( {{ .Type }} )

Creates [Mesh Connections](https://docs.syntropystack.com/docs/network-as-code-topologies#creating-complex-topologies).To establish a mesh connection between 2 agents, you need to provide the following:

- agent 1 ID
- agent 2 ID

## Example Usage
 {{tffile .ExampleFile}}

 {{ .SchemaMarkdown }}