---
layout: ""
page_title: "Network Connection Service Data Source"
description: |-
---

Datasource retrieves list of services that were discovered in connection.

## Example Usage
 {{tffile .ExampleFile}}

 {{ .SchemaMarkdown }}